<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>张天师</string>
		<key>sex</key>
		<string>woman</string>
		<key>rank</key>
		<string>1星</string>
		<key>city</key>
		<string>北京</string>
		<key>campus</key>
		<string>北京师范大学</string>
		<key>experience</key>
		<string>10年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>交通 行政科研 文教</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>王乐乐</string>
		<key>sex</key>
		<string>woman</string>
		<key>rank</key>
		<string>2星</string>
		<key>city</key>
		<string>上海</string>
		<key>campus</key>
		<string>上海科技大学</string>
		<key>experience</key>
		<string>5年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>园林 商业 观览</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>李绅其</string>
		<key>sex</key>
		<string>man</string>
		<key>rank</key>
		<string>2星</string>
		<key>city</key>
		<string>苏州</string>
		<key>campus</key>
		<string>江苏科技大学</string>
		<key>experience</key>
		<string>3年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>文教</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>许巍</string>
		<key>sex</key>
		<string>woman</string>
		<key>rank</key>
		<string>2星</string>
		<key>city</key>
		<string>无锡</string>
		<key>campus</key>
		<string>北京建筑学院</string>
		<key>experience</key>
		<string>9年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>景观</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>刘子琪</string>
		<key>sex</key>
		<string>woman</string>
		<key>rank</key>
		<string>2星</string>
		<key>city</key>
		<string>无锡</string>
		<key>campus</key>
		<string>北京城市学院</string>
		<key>experience</key>
		<string>5年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>人文建筑</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>李子轩</string>
		<key>sex</key>
		<string>woman</string>
		<key>rank</key>
		<string>2星</string>
		<key>city</key>
		<string>无锡</string>
		<key>campus</key>
		<string>上海交通大学</string>
		<key>experience</key>
		<string>2年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>文教</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>洛天依</string>
		<key>sex</key>
		<string>man</string>
		<key>rank</key>
		<string>2星</string>
		<key>city</key>
		<string>无锡</string>
		<key>campus</key>
		<string>上海交通大学</string>
		<key>experience</key>
		<string>5年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>景观</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>刘天才</string>
		<key>sex</key>
		<string>man</string>
		<key>rank</key>
		<string>2星</string>
		<key>city</key>
		<string>无锡</string>
		<key>campus</key>
		<string>北京交通大学</string>
		<key>experience</key>
		<string>8年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>商业写字楼</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>李娇娇</string>
		<key>sex</key>
		<string>woman</string>
		<key>rank</key>
		<string>2星</string>
		<key>city</key>
		<string>无锡</string>
		<key>campus</key>
		<string>北京师范大学</string>
		<key>experience</key>
		<string>5年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>科研楼</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>珠珠的梦</string>
		<key>sex</key>
		<string>woman</string>
		<key>rank</key>
		<string>2星</string>
		<key>city</key>
		<string>无锡</string>
		<key>campus</key>
		<string>上海交通大学</string>
		<key>experience</key>
		<string>5年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>园林建筑</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>userIcon</string>
		<key>name</key>
		<string>思无邪</string>
		<key>sex</key>
		<string>man</string>
		<key>rank</key>
		<string>2星</string>
		<key>city</key>
		<string>无锡</string>
		<key>campus</key>
		<string>天津科技大学</string>
		<key>experience</key>
		<string>10年设计经验</string>
		<key>skilled</key>
		<string>擅长建筑类型:</string>
		<key>buildType</key>
		<string>大型商场</string>
	</dict>
</array>
</plist>
